<html>
    <head>
        <title>HM - soon</title>
    </head>
    <style>
        h1{font-family:verdana;}
        /* div {text-align: center; margin: auto; } */
        body {background-color:#FFD752;}

        div {
            text-align: center;
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }   
    </style>

    <script>
        var host = "www.honeymussy.com";
        if ((host == window.location.host) && (window.location.protocol != "https:")){
            window.location.protocol = "https";
        }
    </script>
    <body>
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/559251998017585153/720533922747777054/favicon.ico">
        <div>
            <h1>Honey Mussy</h1>
            <img src="https://cdn.discordapp.com/attachments/559251998017585153/720501907667550309/mustard.png" alt="honeymussy" height="420.69" width="420.69">
            <h1>soon</h1>
        </div>
    </body>
</html>